.custom-icon {
  background: #000;
  color: white;
  padding: 8px;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 8px solid #ddd;
}
