.btn-common {
  background-color: #db4444;
  color: white;
  border: 0;
  border-radius: 4px;
  min-width: 200px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  &:hover {
    opacity: 0.9;
  }
}

.btn-common-outline {
  background-color: white;
  border-radius: 4px;
  min-width: 200px;
  text-decoration: none;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  color: black;
  &:hover {
    background-color: #db4444;
    color: white;
    border: 0;
  }
}

.btn-common-text {
  background-color: white;
  color: black;
  border: 1px solid transparent;
  border-radius: 4px;
  &:hover {
    color: #db4444;
    border: 1px solid #db4444;
  }
}
