@import "/src/common-scss/common-styles.scss";
.product-img-main {
  width: 500px;
  height: 600px;
  background-color: #f5f5f5;
  img {
    height: 100%;
    object-fit: contain;
  }
}

.product-img-sub {
  background-color: #f5f5f5;
  height: 138px;
  width: 170px;
  img {
    height: 100%;
    object-fit: contain;
  }
}

.quantity,
.btn-minus,
.btn-add {
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
}

.btn-minus {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.btn-add {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.btn-add,
.btn-minus {
  &:hover {
    background-color: $primary-color;
    cursor: pointer;
    color: white;
  }
}
.quantity {
  width: 100px;
  border-left: 0;
  border-right: 0;
}

.quantity::-webkit-outer-spin-button,
.quantity::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.quantity[type="number"] {
  -moz-appearance: textfield;
}
.btn-favorite {
  background: white;
  border-radius: 4px;
  width: 80px;
  &.active {
    background-color: $primary-color;
    cursor: pointer;
    color: white;
    transform: none;
    border: 0;
    border-radius: 4px;
  }
}
