$primary-color: #db4444;
$secondary-color: #f5f5f5;
$secondary-color-2: #c0c0c0;
$gray-color: #7d8184;

.ms-6 {
  margin-left: 6rem !important;
}

.mt-6 {
  margin-top: 6rem !important;
}

.text-primary-2 {
  color: $primary-color !important;
}

.text-secondary-2 {
  color: $secondary-color-2 !important;
}

.fs-7 {
  font-size: small;
}
